<head>
<!-- <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type='text/javascript' src='/static/utils.js'></script>
<script type='text/javascript' src='/static/vertical_bar_chart.js'></script>
<script type='text/javascript' src='/static/horizontal_bar_chart.js'></script>
<script type='text/javascript' src='/static/polar_area_chart.js'></script>
<script type='text/javascript' src='/static/index.js'></script>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<p>Selector for departments, years, line charts, other visualizations</p>
<p>autocomplete on search etc</p>
<!-- <section class="chart-container" style="height:300px;width:400px;max-width:80%;margin:auto"> -->
<section class="chart-container" style="max-width:80%;margin:auto">
  <canvas id="chart" width="500" height="500"></canvas>
</section>

<!-- <div class="vertical-bar-chart" style="max-width:80%;margin:auto"></div> -->
<!-- <div class="horizontal-bar-chart" style="max-width:80%;margin:auto"></div> -->

<button id="test-button">will it blend</button>